@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="mainForm" asp-controller="CreateOrder" method="post">

	<input type="hidden" name="FlowState" value="@JsonConvert.SerializeObject(Model.FlowContext)" />

	@RenderBody()

	<partial name="_FlowError" model="@Model.FlowContext" />

</form>